@font-face {
  src: url(fonts/Compagnon-Bold.woff);
  font-family: Compagnon;
}
@font-face {
  src: url(fonts/PanamaRegular.otf);
  font-family: Panama;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
h1 {
  text-align: center;
  padding: 0 0 2vh 0;
  font-size: 60px;
  font-weight: lighter;
  font-family: Compagnon;
}
.site-container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: blue;
}
.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  background-color: red;
  width:90%;
  max-width: 1000px;
}
.outer-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #a555ff;
}
.header-image {
  width: 90%;
}
.body-frame {
  margin: 0 auto;
  width:90%;
  background-color: #FFFFFF;
}
.article p {
  font-size: 28px;
  font-family: Panama;
  font-weight: Regular;
  line-height: 35px;
}
