@font-face {
  src: url(fonts/Compagnon-Bold.woff);
  font-family: Compagnon;
}

@font-face {
  src: url(fonts/PanamaRegular.otf);
  font-family: Panama;
}

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

.ab {
  padding: 0 20px 60px 20px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  overflow-x: hidden;
  position: relative;
}

.site-container {
  width: 100%
  overflow-x: hidden;
  overflow-y: auto;
}

ul {
  list-style: none;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
    font-weight: lighter;
    font-family: Compagnon;
}

.space {
  padding: 0 0 2vh 0;
}

.outer-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.header-image {
  padding: 50px;
  width: 90%;
}

.body {
  font-size: 28px;
  font-family: Panama;
  font-weight: Regular;
}

.container {
  padding: 50px;
}

.white-text {
  color: #FFFFFF;
}

.black-text {
  color: #000000;
}

.centered {
  text-align: center;
}

.column {
  float: left;
  width: 100%;
  padding: 0 0 7% 20px;
  word-wrap: break-word;
}

.columns {
    display: flex;
    line-height: 60px;
}

.texts {
  padding: 0 20px 0 20px;
  word-wrap: break-word;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}

a {
  color: #FFFFFF;
  text-decoration: underline;
}

a:hover {
  color: #000000;
  background-color: #FFFFFF;
}

p {
  line-height: 40px;
  padding-bottom: 20px;
}

.tagasi {
  padding: 5%;
  position: fixed;
  font-size: 20px;
  font-family: Panama;
  font-weight: Regular;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .columns { display: block } }
